.Header {
    width: 100%;
    height: 20vh;
    background: #3F4A5B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 85%;
}

.Logo {
    width: 100%;
    cursor: pointer;
    object-fit: contain;
}

.Text {
    color: #d1a769;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    margin-top: -25%;
 
}

.LogoContainer {
    display: flex;
    width: 25em;
    position:absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.NavLink {
    color: #d1a769;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
}

.NavLink:hover {
    color: #d1a7697e;
}