.Container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.Background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/images/background.gif") no-repeat;
  background-size: 100em 40em;
  width: 80%;
  height: 70vh;
  margin-top: 1%;
}

.Hide {
  display: none;
}

.Display {
  width: 20%;
  height: 40vh;
  background: rgba(255, 255, 255, 0.733);
  overflow-y: scroll;
  position: absolute;
  margin-top: -8%;
  margin-left: 22%;
  text-align: center;
}

.AllDestinations {
    display: block;
    cursor: pointer;
    color: #3F4A5B;
    font-weight: bold;
}

.AllDestinations:hover {
  background: #d1a769;
}
.InputWrapper {
    width: 100%;
    margin-left: 15%;
    position:relative;
}

.span {
  margin-left: 2%;
}

.formErrors {
  display: flex;
  justify-content: center;
  margin-left: -10%;
  width: 100%;

}
